x64/Debug/PixelDrawing.tlog/link.read.1.tlog
x64/Debug/PixelDrawing.tlog/link.command.1.tlog
x64/Debug/PixelDrawing.tlog/CL.read.1.tlog
x64/Debug/PixelDrawing.tlog/CL.command.1.tlog
x64/Debug/PixelDrawing.pdb
x64/Debug/PixelDrawing.log
x64/Debug/PixelDrawing.ilk
x64/Debug/vcpkg.applocal.log
x64/Debug/vc140.pdb
x64/Debug/PixelDrawing.tlog/PixelDrawing.write.1u.tlog
x64/Debug/PixelDrawing.tlog/PixelDrawing.lastbuildstate
x64/Debug/PixelDrawing.tlog/CL.write.1.tlog
x64/Debug/PixelDrawing.exe
x64/Debug/DigitalCanvas2D.obj
PixelDrawing.VC.db
.vs/PixelDrawing/v14/.suo
x64/Debug/vc140.idb
x64/Debug/main.obj
x64/Debug/glfw3.dll
x64/Debug/glew32d.dll
x64/Debug/PixelDrawing.tlog/link.write.1.tlog
